



body{
  /*background: rgb(63,94,251);*/
  /*background: radial-gradient(circle, rgba(63,94,251,1) 20%, rgba(189,70,252,1) 100%);*/
  background: rgba(11, 11, 11, 0.9);
  background: linear-gradient(135deg, rgba(20, 20, 20, 1) 0%, rgba(11, 11, 11, 0.9) 100%);
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}


.parent-container {
  overflow-x: hidden;
}

#projects {
  background: rgb(64,64,64); /* Base deep grey */
  background: radial-gradient(circle, rgba(26, 26, 26, 0.9) 40%, rgba(43, 43, 43, 0.9) 80%);
}

/*#home-page {
  background: rgb(150,196,255);
  background: radial-gradient(circle, rgba(150,196,255,1) 0%, rgba(138,172,255,1) 100%);
}*/


#home-page {
  background: rgb(211,211,211); /* Base light grey */
  background: radial-gradient(circle, rgba(235,235,235,1) 0%, rgba(200,200,200,1) 100%);
}


#banner {
  background: rgb(212,23,17); /* Approximation of the dark red in your image */
  background: linear-gradient(90deg, rgba(160, 20, 20, 1) 0%, rgba(212, 0, 0, 1) 50%, rgba(160, 20, 20, 1) 100%);
}

#clubs {
  background: rgb(64,64,64); /* Base deep grey */
  /*background: linear-gradient(90deg, rgba(30, 20, 20, 1) 0%, rgba(10, 7, 50, 1) 50%, rgba(30, 20, 20, 1) 100%);*/
  background: linear-gradient(135deg, rgba(43, 43, 43, 1) 0%, rgba(43, 43, 43, 1) 100%)

}